.layout {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
}

@media only screen and (max-width: 600px) {
  .layout {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .layout {
    position: relative;
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 20% auto 60%;
    grid-template-rows: 75px auto;
    grid-template-areas:
      "Logo Logo Nav"
      "Child Child Child";
  }
  .logo {
    grid-area: Logo;
  }
  .NavTop {
    grid-area: Nav;
  }
  .child {
    grid-area: Child;
    overflow: auto;
    padding: 15px 5px 10px 5px;
  }
  .NavSlide {
    grid-area: Slide;
  }
}
